# .gitignore
__pycache__/
*.pytest_cache

# Ignore Python compiled files
*.pyc

# Ignore CSV data files
*.csv

# Ignore housing.tgz in data
*housing.tgz

# Ignore HousePricePrediction.egg-info
*HousePricePrediction.egg-info/


*mlruns/
*pickles/
*.pkl
